python==3.6
bcrypt==3.2.0
certifi==2021.5.30
click==7.1.2
colorama==0.4.4
Flask==2.0.2
Flask-PyMongo==2.3.0
gunicorn==20.1.0
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycparser==2.20
pymongo==3.12.0
six==1.16.0
typing-extensions==3.10.0.2
Werkzeug==2.0.2
wincertstore==0.2
zipp==3.6.0
