beautifulsoup4==4.9.3
blis==0.7.4
brotlipy==0.7.0
bs4==0.0.1
catalogue==2.0.4
certifi==2021.5.30
click==7.1.2
colorama==0.4.4
contextvars==2.4
cymem==2.0.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
Flask==2.0.1
gunicorn==20.1.0
html5lib==1.1
immutables==0.15
importlib-metadata==4.5.0
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
murmurhash==1.0.5
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pathy==0.5.2
preshed==3.0.5
pycosat==0.6.3
pydantic==1.7.4
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
smart-open==3.0.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
thinc==8.0.3
typer==0.3.2
typing-extensions==3.10.0.0
wasabi==0.8.2
webencodings==0.5.1
Werkzeug==2.0.1
wincertstore==0.2
zipp==3.4.1
certifi==2021.5.30
joblib==1.0.1
numpy==1.19.5
scikit-learn==0.24.2
scipy==1.5.4
sklearn==0.0
threadpoolctl==2.2.0
wincertstore==0.2