
.wrap {
    position: static;
    width: 285px;
    height: 300px;
    margin-top: 0px;
    overflow: hidden;
    border-radius: 0px;
    border: 3px solid black;
    box-sizing: border-box;
}


body{
    background-color: rgb(236, 247, 236);
    /* position: fixed; */
}


h1{
    text-align: center;
    color:rgb(20, 97, 55);
    margin-bottom: 10px;
    font-size: 48px;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black;
    text-align: center
}

Positive{
    color: green
}

Negative{
    color: red
}

header {
    /* padding: 8px; */
    text-align: center;
    background-color: lightgray;
    color: darkslategray;
  }

  label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:black;
  }