{% extends "layout.html" %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Johari Window</title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.css"> -->
</head>

<header>
  <section class="row">
    <div class="col-md-4">Author: Matthew Brown</div>
    <div class="col-md-4"><a href="https://github.com/zukohere/DataVisFinalProject">github repo</a></div>
    <div class="col-md-4"> <a href="https://github.com/zukohere/DataVisFinalProject/blob/main/README.md">README and
        references</a></div>
</header>
</section>

<body>




  <!-- Create the overall grid -->
  <div class="container" style="background-color: rgb(236, 247, 236);">
    <!-- <center>
      <button onclick="renderCloud()">Display Johari Window</button>
      <br>
    </center> -->

    <section class="row">
      <div class="col-md-6">
        <!-- <div class="container"> -->
        <section class="row">
          <div class="col-md-6">
            Arena (observed by self and by others)
            <!-- <div class="windowdressing"> -->
              <div id="Arena"></div>
            </div>
          <!-- </div> -->
          <div class="col-md-6">
            Blind Spot (observed only by others, not by self)
            <!-- <div class="windowdressing"> -->
              <div id="Blindspot"></div>
            </div>
          <!-- </div> -->
        </section>
        <section class="row">
          <div class="col-md-6">
            <!-- <div class="windowdressing"> -->
              <div id="Facade"></div>
            <!-- </div> -->
            Facade (observed by self, not observed by others)
          </div>
          <div class="col-md-6">
            <!-- <div class="windowdressing"> -->
              <div id="Unknown"></div>
            <!-- </div> -->
            Unknown (not observed by self or others)
          </div>
        </section>
      </div>





  <!-- WordCloud -->
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
  <!-- <script src="../static/js/johari_vis.js"></script> -->
  <!-- End WordCloud -->

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script> -->

</body>

</html>
{% endblock %}